# Server config
PORT= # Express port
NODE_ENV= # Node env (dev, prod, test)

# SQLite URL connect URL for prisma 7
DATABASE_URL= # SQLite URL connect URL for prisma (e.g. file:./dev.db)

# Security
SESSION_SECRET= # Session secret for express-session

# Fronted URL for CORS
FRONTEND_URL= # Frontend URL for CORS (e.g. http://localhost:5173 for Vue)
